<label for="divisao">Potencia</label>
<input required type="number" class="form-control" placeholder="Potencia" ng-model="produto.potencia"/>

<label for="divisao">Decibeis</label>
<input required type="number" class="form-control" placeholder="Decibeis" ng-model="produto.decibeis"/>

<label for="divisao">Tem Saco</label>
<input required type="checkbox" class="form-control" placeholder="Tem Saco?" ng-model="produto.temSaco"/>
 

<input class="btn submit-btn pull-right" type="submit" value="Guardar" />