<div ng-show="authenticated" >
	<h4>Figorificos</h4>
	<a href="#/figorificos/create">Criar figorifico</a>
	<table class="table">
		<tr>
			<th>Imagem</th>
			<th>Nome</th>
			<th>Observações</th>
			<th>Divisão</th>
			<th>Marca</th>
			<th>Preço</th>
			<th>Capacidade Congelador</th>
			<th>Capacidade Figorifico</th>
			<th>Classe Energetica</th>
			<th>Operações</th>
		</tr>

		<tr ng-repeat = "produto in produtos" ng-class-odd="'odd'" ng-class-even="'even'">
			<!-- How to make this a template ??? -->
			<td ng-show="produto.imagens.length > 0"><img src={{produto.imagens[0].data}} width="100" height="100" /></td>
			<td ng-hide="produto.imagens.length > 0">Sem imagens disponiveis {{produtlo.imagens.length}}</td>
			<td>{{produto.nome}}</td>
			<td>{{produto.obs}}</td>
			<td>{{produto.divisao.nome}}</td>
			<td>{{produto.marca}}</td>
			<td>€ {{getPrecoText(produto.precos)}}</td>
			<td>{{produto.capCongelador}}</td>
			<td>{{produto.capFigorifico}}</td>
			<td>{{produto.classEnergetica}}</td>
			<td><a href="#/precos/{{produto._id}}">Preços</a> |
				<a href="#/imagens/{{produto._id}}">Imagens</a> |
				<a href="#" ng-click="edit({id:produto._id})">Editar</a> |
			    <a href="#" ng-click="delete({id:produto._id})">Eliminar</a>
			</td>
		</tr>

		</table>
</div>

