<label for="divisao">Capacidade do Congelador</label>
<input required type="number" class="form-control" placeholder="Capacidade Congelador" ng-model="produto.capCongelador"/>

<label for="divisao">Capacidade do Figorifico</label>
<input required type="number" class="form-control" placeholder="Capacidade Figorifico" ng-model="produto.capFigorifico"/>

<label for="divisao">Capacidade Energetica</label>
<input required type="text" class="form-control" placeholder="Capacidade Energetica" ng-model="produto.classEnergetica"/>
 

<input class="btn submit-btn pull-right" type="submit" value="Guardar" />