<label for="divisao">Capacidade</label>
<input required type="number" class="form-control" placeholder="Capacidade" ng-model="produto.capacidade"/>

<label for="divisao">Tem lavagem manual</label>
<input required type="checkbox" class="form-control" placeholder="Lavagem  Manual" ng-model="produto.temLavagemManual"/>

<label for="divisao">Capacidade Energetica</label>
<input required type="text" class="form-control" placeholder="Capacidade Energetica" ng-model="produto.classEnergetica"/>
 

<input class="btn submit-btn pull-right" type="submit" value="Guardar" />