<div ng-show="authenticated">
	<label for="divisao">Divisão</label>
	<input required type="text" class="form-control" ng-model="produto.divisao.nome" ng-disabled="true"/>

	<label for="divisao">Nome do produto</label>
	<input required type="text" class="form-control" placeholder="Nome do produto" ng-model="produto.nome" ng-disabled="true"/>

	<label for="divisao">Observações</label>
	<input type="text" class="form-control" placeholder="Observações" ng-model="produto.obs" ng-disabled="true"/> 

	<label for="divisao">Marca</label>
	<input type="text" class="form-control" placeholder="Marca" ng-model="produto.marca" ng-disabled="true" /> 
</div>